.menu {
  padding: 20px 0px 0px 20px;
  color: white;
}

.new {
  color: rgb(255, 183, 0);
}

h1 {
  margin-bottom: 60px;
}

h2 {
  text-align: left;
  margin-bottom: 20px;
  font-weight: 400;
  height: 70px;
  padding: 20px 0px 0px 10px;
}

.topic {
  margin-left: 30px;
  width: 225px
}

.topic:hover {
  cursor:pointer;
  transform: scale(1.07);
}

.active {
  background-color: rgb(255, 183, 0);
  border-radius: 0px 50px 50px 0px;
}
