* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background: #141527;
  height: 115vh;
  text-align: center;
  width: 100%;
}

.error {
  color: red;
  font-size: 1.4em;
}
